/*

OneTel Template

http://www.templatemo.com/tm-468-onetel

*/

body {
  background: #101010;
  color: #808080;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

@media (min-width: 768px) {
  .container {
    width: 700px;
  }
  .drop ul {
    position: static;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

/* heading section */
h1,
h2,
h3,
h4 {
  color: #fff;
  font-weight: bold;
}

h1,
h2 {
  font-size: 30px;
}

/* images retina */
img {
  max-width: 100%;
  height: auto;
}

/* button section */
.btn {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 0px;
  box-shadow: none;
  color: #fff;
  padding: 12px 18px;
  font-size: 13px;
  font-weight: bold;
  transition: all 0.4s ease-in;
}
.btn:hover {
  background: #009988;
  border-color: transparent;
}

.email {
  margin-top: 10px;
  padding: 8px 12px;
}

/* navigation */

.navbar-default {
  background: #202020;
  border: none;
  border-left: 6px solid #d54ab6;
  padding-right: 40px;
  margin: 0 !important;
  position: relative;
  top: 20px;
}
.navbar-default .navbar-brand {
  font-size: 40px;
  line-height: 40px;
  padding-top: 4px;
}
.navbar-default .navbar-nav li a {
  color: #f2f2f2;
  font-size: 13px;
  font-weight: 400;
  line-height: 40px;
  transition: all 0.4s ease-in;
}

.navbar-default .navbar-nav > li > a:focus {
  color: white;
  border:none;
  outline:none;
}
.navbar-default .navbar-nav > li > a:hover{
  color: #ffa500;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffa500;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  background: #d54ab6;
  border-radius: 0px;
  border: none;
  margin-top: 20px;
  margin-bottom: 30px;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #fff;
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.active {
  background: #333;
}

/* home section */
#home {
  /*  ,url("../images/portfolio-header.jpg") ; */
  background-size: cover;
  background-position: center;
  min-height: 500px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.caro {
  height: 60vh;
  display: flex;

  position: relative;
  overflow: hidden;
}

.caro img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.caro__item {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  /* transition:all 1s; */
  animation: 15s animate infinite 5s both;
}
.caro__item:first-child {
  left: 100%;
}

@keyframes animate {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

#home h1,
#home h3 {
  line-height: 30px;
  font-size: 40px;
}

/* divider section */
.divider {
  color: #fff;
  text-align: center;
}
.divider .fa {
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 32px;
  width: 80px;
  height: 80px;
  line-height: 76px;
  text-transform: capitalize;
}
.divider h2 {
  padding-bottom: 4px;
}
.divider .divider-wrapper {
  padding: 40px 20px 40px 20px;
  position: relative;
  bottom: 40px;
  transition: all 0.4s ease-in;
}
.divider .divider-wrapper:hover {
  bottom: 60px;
  cursor: pointer;
}
.divider .divider-one {
  background: #c14000;
}
.divider .divider-two {
  background: #009988;
}
.divider .divider-three {
  background: #ffa500;
}

/* about section */
#about-header {
  background: url("../images/about-header.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  padding-top: 160px;
}
#about {
  padding-top: 60px;
}
#about .container {
  background: #191919;
}
#about .col-md-6 {
  padding: 0;
  margin: 0;
}
#about .about-des {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
}
#about .btn {
  margin-top: 30px;
}

/* team section */
#team {
  padding-top: 60px;
  padding-bottom: 80px;
}
#team h2 {
  padding-bottom: 30px;
  text-align: center;
}
#team h3 {
  padding-bottom: 10px;
}
#team .team-wrapper {
  border: 2px solid #303030;
  padding: 20px;
}
#team h4 {
  color: #d54ab6;
}
#team img {
  opacity: 0.8;
}
#team hr {
  border-color: #303030;
  margin-top: 80px;
  margin-bottom: 80px;
}
#team strong {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 10px;
}
#team .progress {
  border-radius: 0px;
  height: 4px;
}

/* portfolio section */
#portfolio-header {
  /* background: url("../images/portfolio-header.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  min-height: 500px;
  padding-top: 160px;
  text-align: center;
}
.pfo__heading{
  font-size:5rem;
  position: relative;
  display: inline-block;
  margin:auto;
  height:50px;
  white-space: nowrap
  

}
.pfo__heading::after{
  content:"";
  position: absolute;
  width:2px;
  background:white;
  height:50px;
  top:0;
  right:0;

  animation:blink 0.8s steps(3) infinite;

}
@keyframes blink{
  0%,75%{
    opacity: 1;
  }
  76%,100%{
    opacity:0;
  }
}

.pfo__para{
  font-size:1.8rem;
  margin:3rem auto;
}
.pfo__button{
  color:black;
  background:white;
  padding:2rem 3rem;
  border-radius:3px;
  font-size:2rem;
  outline:none;
  text-decoration: none;
  border:none;
  transition: 0.4s all;
}
.pfo__button:hover{
  color:#ffa500;
  box-shadow: 0px 0px 29px 17px rgba(255,255,255,0.35);
-webkit-box-shadow: 0px 0px 29px 17px rgba(255,255,255,0.35);
-moz-box-shadow: 0px 0px 29px 17px rgba(255,255,255,0.35);
}
.pfo__button:focus{
  outline:none;
}

#portfolio {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
}
#portfolio h2 {
  padding-bottom: 20px;
}
#portfolio .col-md-4,
#portfolio .col-md-3 {
  padding: 0;
  margin: 0;
}
#portfolio img {
  width: 100%;
  transition: all 0.4s ease-in;
  opacity: 1;
  border:none;
  outline:none;
 
}
#portfolio img:hover {
  opacity: 0.8;
}
#portfolio .btn {
  margin-top: 30px;
}

/* contact section */
#contact-header {
  background: url("../images/contact-header.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  padding-top: 160px;
}
#contact {
  padding-top: 60px;
  padding-bottom: 60px;
}
#contact h2 {
  text-align: center;
  padding-bottom: 30px;
}
#contact .form-control {
  background: #202020;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 20px;
  transition: all 0.4s ease-in;
  color: #fff;
}
#contact .form-control:focus {
  background: #404040;
}
#contact input {
  height: 53px;
}
.form-control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #fff;
}
.form-control::-webkit-input-placeholder {
  color: #fff;
}
#map-canvas {
  border: none;
  width: 100%;
  height: 300px;
}

/* footer section */
footer {
  background: #1c1c1c;
  padding-top: 60px;
  padding-bottom: 60px;
}
footer .fa {
  font-size: 18px;
  margin-right: 10px;
  padding: 5px;
}
footer h3 {
  padding-bottom: 10px;
}
footer .newsletter p {
  padding-bottom: 10px;
}
footer .form-control {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 0px;
  padding-bottom: 10px;
}

footer .form-control:focus,
footer .form-control:hover {
  color: #fff;
  background: #806040;
  border-color: transparent;
}
footer .input-group-addon {
  background: #fff;
}
footer a,
footer a:visited {
  font-size: 14px;
  color: #999;
}
footer a:hover {
  color: #fff;
  text-decoration: none;
}

/* copyright section */
.copyright {
  margin: 10px 0px;
}
.copyright p {
  padding-top: 20px;
}
.social-icons {
  padding: 0px;
  margin: 0px;
}
.social-icons li {
  display: inline-block;
  list-style: none;
  background: #303030;
  margin: 10px 0px 0px 0px;
}
.social-icons li a {
  color: #909090;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 15px;
  text-align: center;
  transition: all 0.4s ease-in;
}
.social-icons li a:hover {
  background: #d54ab6;
  color: #fff;
}

/* media 960 */
@media (max-width: 980px) {
  .divider .divider-wrapper {
    margin-bottom: 20px;
  }
  #about .about-des {
    padding-bottom: 40px;
  }
  #team .team-wrapper {
    margin-bottom: 40px;
  }
  #contact h3 {
    padding-top: 20px;
  }
  #contact .btn {
    margin-bottom: 20px;
  }
  footer h3 {
    padding-top: 30px;
  }
}

.drop a,
.drop ul {
  text-decoration: none;
  list-style: none;
}
.drop ul a:hover{
  color:#ffa500
}
.drop ul a:foucs{
  color:white;
}


.drop.show ul,
.drop.show ul li,
.drop.show ul a {
  height: auto;
  /* visibility: visible; */
  transform: scaleY(1);
}

.drop ul {
  overflow: hidden;
  position: absolute;
  background: black;
  padding: 0;
  margin: 0;
  /* height:0; */
  /* visibility: collapse; */
  transition: all 0.3s linear;

  transform: scaleY(0);
  transform-origin: top;

  /* left:0; */
  /* transform: translate(-50%,0%); */
}

.drop ul a {
  display: inline-block;
  padding: 1rem 2rem;

  /* visibility: collapse; */
}
.drop {
  position: relative;
}

@media (max-width: 768px) {
  .drop ul {
    position: static;
    height: 0;
    /* overflow: hidden; */
  }
}

/*
=============== 
Slider
===============
*/

.slider-container {
  border: 5px solid var(--clr-primary-5);
  width: 80vw;
  margin: 0 auto;
  height: 40vh;
  /* max-width: 100rem; */
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 4rem;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--clr-primary-9);
  color: var(--clr-white);
  display: grid;
  place-items: center;
  transition: all 0.25s ease-in-out;
  text-align: center;
}
.slide-img {
  height: 100%;
  width: 100%;

  object-fit: cover;
}
.slide h1 {
  font-size: 5rem;
}
.person-img {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.slide:nth-child(1) h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slide:nth-child(3) {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./img-2.jpeg") center/cover no-repeat;
}
.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
}
.prevBtn,
.nextBtn {
  background: transparent;
  border-color: transparent;
  font-size: 1.75rem;
  cursor: pointer;
  margin: 0 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: var(--clr-grey-5);
  transition: var(--transition);
}
.prevBtn:hover,
.nextBtn:hover {
  color: var(--clr-grey-3);
}

@media screen and (min-width: 576px) {
  .slider-container {
    height: 45vh;
  }
}
@media screen and (min-width: 768px) {
  .slider-container {
    height: 55vh;
  }
}
@media screen and (min-width: 992px) {
  .slider-container {
    height: 65vh;
  }
}

.projects {
  padding: 1rem 3rem;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
  justify-content: center;
}
.item {
  border: 14px solid #ffffff;
  border-radius: 2px;
  position: relative;
}
.item__heading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
  opacity: 0;
  transition: all 1s;
}
.item:hover .item__heading {
  transform: translate(-50%, -80%);
  opacity: 1;
}
